:root {
  --main-text-color: #757575;
  --text-dark-grey: #212121;
  --text-black: #000000;
  --text-white: #ffffff;
  --text-white-alpha: rgba(255, 255, 255, 0.6);
  --akcent-color: #2196f3;
  --hero-bg-color: #2f303a;
  --hero-button-bg-color: #188ce8;
  --our-team-bg-color: #f5f4fa;
  --header-border-color: #ececec;
  --portfolio-prj-card-border-color: #eeeeee;
  /* --footer-bg-color: #2F303A; */
}

body {
  font-family: "Roboto", "sans serif";
  font-size: 14px;
  line-height: calc(24 / 14); /*1,71*/
  letter-spacing: 0.03em;
  /*  */
  color: var(--main-text-color);
  background-color: var(--text-white);
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

address a {
  display: block;
  /* margin-bottom: 9px; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: var(--text-dark-grey);
}

.ourworks h2,
.ourteam h2 {
  margin-bottom: 50px;
}

p {
  color: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* logo ----------------------------- */
.header-logo,
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}
.header-logo {
  margin-right: 93px;
}
.footer-logo {
  display: block;
  margin-bottom: 20px;
}
.header-logo-left,
.footer-logo-left {
  color: var(--akcent-color);
}
.header-logo-rigth {
  color: var(--text-black);
}
.footer-logo-rigth {
  /* margin-right: 0px; */
  color: var(--text-white);
  /* background-color: #2f303a; !! */
}

/* header styles ---------------------*/
/* ---------------------------------- */
.header {
  /* height: 80px; */
  font-weight: 500;
  line-height: calc(16 / 14); /* 1.14 = calc(16/14) */
  letter-spacing: 0.02em;
  /* border */
  border-bottom: 1px solid var(--header-border-color);
}

.header .container,
.header nav,
.header ul {
  display: flex;
  align-items: center;
}

.header .container {
  padding-top: 0;
  padding-bottom: 0;
  justify-content: space-between;
}

.header li {
  /* padding-top: 32px; */
  /* padding-bottom: 32px; */
  margin-right: 55px;
  /* padding-top: 33px; */
}

.header li:last-child {
  margin-right: 0px;
}

.nav-link,
.header-email,
.header-phone {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-dark-grey);
}

.header-email,
.header-phone {
  padding-top: 0px;
  padding-bottom: 0px;
  /*  */
  color: var(--main-text-color);
}

.nav-link:hover,
.nav-link:focus,
.header-email:hover,
.header-email:focus,
.header-phone:hover,
.header-phone:focus {
  color: var(--akcent-color);
}

/* main ------------------------ */
.content {
  color: inherit; /**/
}

/* hero styles --------------------------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  /* padding: 200px 400px; */
  background-color: var(--hero-bg-color);
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  /*  */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  letter-spacing: 0.06em;

  /* text-align: center; */
  text-transform: uppercase;

  color: var(--text-white);
}

.hero-button-box {
  text-align: center;
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  /*  */
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  /*  */
  text-align: center;
  /*  */
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; /*  */
  color: var(--text-white);
  background-color: var(--akcent-color);
  /*  */
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--hero-button-bg-color);
}

/* features style ------------------------------- */
.features {
  color: inherit; /**/
}

.features-title {
  margin-bottom: 10px;
  line-height: calc(16 / 14);
}

.features-list {
  display: flex;
}

.features-text {
  line-height: calc(24 / 14);
}

.features-item {
  /* display: inline-block; */
  display: block;
  width: 270px; /*!!!!!!!!!!*/
}
/* ourwork ------------------------------------- */
.ourworks {
  padding-top: 0px;
  color: inherit; /**/
}

.ourworks .container {
  padding-top: 0;
}

.ourwork-title,
.ourteam-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}

.ourworks-list,
.ourteam-list {
  display: flex;
}

.features-item,
.ourworks-item,
.ourteam-card,
.project-card {
  margin-right: 30px; /**/
  /* width: calc((100% - 60) / 3); */
  /* prj = width: 370px; */
  /* team= width: 270px; */
}

.features-item:last-child,
.ourworks-item:last-child,
.ourteam-card:last-child,
.project-card:last-child {
  margin-right: 0px;
}

/* project cards list special margins ========================= */
.project-card {
  margin-bottom: 30px;
}
.project-card:nth-child(3n) {
  margin-right: 0px;
}
.project-card:nth-child(n + 7) {
  margin-bottom: 0px;
}
/* ourteam -------------------------------------- */
.ourteam {
  background-color: var(--our-team-bg-color);
}
.ourteam-card-img {
  margin-bottom: 30px;
}

.ourteam-card-title,
.ourteam-card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  /* identical to box height */

  text-align: center;
}

.ourteam-card-title {
  margin-bottom: 10px;
}

.ourteam-card-text {
  margin-bottom: 30px;
  font-weight: 400;
}

.ourteam-card {
  /* padding-bottom: 30px; */
  background-color: var(--text-white);
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* footer --------------------------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-bg-color);
}

.footer-item + .footer-item {
  margin-top: 9px;
}

.footer-link,
.footer-link-street {
  line-height: calc(16 / 14);
  color: var(--text-white-alpha);
}

.footer-link-street {
  color: var(--text-white);
}

.footer-link:hover,
.footer-link-street:hover {
  color: var(--akcent-color);
}

/* ---------------------------------------- */
/* portfolio page ------------------------- */
/* ---------------------------------------- */

.filter {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.button-generic {
  /*  */
  text-align: center;
  /*  */
  cursor: pointer;
  /**/
  border: none;
  border-radius: 4px;
}

.filter-button {
  padding: 6px 22px;
  font-family: "Roboto", "sans serif";
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  /* identical to box height, or 162% */
  color: var(--text-dark-grey);
  background-color: var(--our-team-bg-color);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--text-white);
  background-color: var(--akcent-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item + .filter-item {
  margin-left: 8px;
}

/* ================================== */
.project-card {
  /* box-sizing: border-box; */
}
.project-card-footer {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  /*  */
  border-left: 1px solid var(--portfolio-prj-card-border-color);
  border-right: 1px solid var(--portfolio-prj-card-border-color);
  border-bottom: 1px solid var(--portfolio-prj-card-border-color);
}
.project-card-link {
  color: var(--main-text-color);
}

.project-card-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
}

.project-card-text {
  font-size: 16px;
  line-height: calc(30 / 16);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

/* common styles ------------------------------- */
.current-page-link {
  color: var(--akcent-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}
